.container-nav{
    z-index: 10;

    .menu-button{
        position: fixed;
        top: 3em;
        left: 3em;
        background: transparent;
        border: 0;
        transition: transform ease-in-out 250ms;
        cursor: pointer;
    }
}