@use '../modules' as m;
.menu-button{
    position: fixed;
    top: 3em;
    left: 3em;
    background: transparent;
    border: 0;
    transition: transform ease-in-out 250ms;
    cursor: pointer;
    z-index: 10;
}
nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    z-index: 10;

    transform: translateX(-100%);       
    transition: transform ease-out 250ms;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;    
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    align-items: stretch;
    
    background:m.$c-accent;
    
}


nav li{
    
    text-align: center;

    &:not(:last-of-type){
        border-bottom: 1px solid m.$c-dark_blue;
    }

    
    
}

nav li:hover{
    background: rgba($color: m.$c-dark_blue, $alpha:0.5)
}

nav a{
    display: inline-block;
    @include m.f-sans-serif($fs:4rem, $color: m.$c-dark_blue);
    text-decoration:none;
    padding: calc(100vh/8) 0;    
    line-height: 0;
    width: 100%;    
}

.close-icon{
    display:none;
}

.nav-is-open{
    nav{
        transform: translateX(0);
    }
    .menu-button{        
        transform: translateX(80vw);        
    }
}